<% @posts.in_groups_of(2).each do |group| %>
  <div class="row">
  <% group.each do |post| %>
    <article class="span5 multi-column">
      <header>
        <h1 class="article-title" id="<%= post.slug %>"><%= post.title %></h1>
        <p class="article-meta">
          <%= I18n.t 'common_words.by' %> <%= post.admin_user %>
          <small><%= time_ago_in_words(post.created_at) %> <%= I18n.t 'date.ago' %></small>
        </p>
      </header>
      <div class="content">
        <%= raw post %>
      </div>
      <footer>
        <p></p>
      </footer>
    </article>
  <% end %>
  </div>
<% end %>