<!DOCTYPE html>
<html>
<head>
	<title>Ptoo</title>
	<%= stylesheet_link_tag	"reset", :media => "all" %>
	<%= stylesheet_link_tag	"application", :media => "all" %>
	<%= stylesheet_link_tag	"bootstrap", :media => "all" %>
	<%= stylesheet_link_tag "http://fonts.googleapis.com/css?family=Raleway:600,200" %>
	<%= stylesheet_link_tag "http://fonts.googleapis.com/css?family=Crimson+Text:600,400" %>
	<%= javascript_include_tag "modernizr.js" %>
	<%= javascript_include_tag "application" %>
	<%= javascript_include_tag "bootstrap.min" %>
	<%= csrf_meta_tags %>
</head>
<body>
	<div class="container">
		<nav>
			<ul class="nav nav-main">
				<li class="dropdown">
					<a class="dropdown-toggle" data-toggle="dropdown" href="#">
						Navigate <i class="icon-chevron-down icon-white"></i>
					</a>
					<ul class="dropdown-menu">
						<li><a href="#introduction">Introduction</a></li>
						<li><a href="">What are SSE's?</a></li>
						<li><a href="">What are the alternatives?</a></li>
						<li><a href="">How do we use them?</a></li>
						<li><a href="">What are the limitations?</a></li>
						<li><a href="">Example</a></li>
					</ul>
				</li>
			</ul>
		</nav>
	</div>
	<section class="glass">
		<div class="glass-background" id="glass-background"></div>
		<div class="night-day pull-right">
			<div class="btn-group">
				<button class="btn set-light active"><i class="icon-custom sun"></i></button>
				<button class="btn set-dark"><i class="icon-custom moon"></i></button>
			</div>
		</div>
		<div class="container">
			<header class="introduction">
				<h1 class="title">Server Sent Events</h1>
				<h2 class="author"><%= I18n.t 'common_words.by' %> Gilles De Mey</h2>
			</header>
			<div class="demo">

			</div>
		</div>
	</section>
	<div class="container content-main">
		<%= yield %>
	</div>
</body>
</html>
