<!DOCTYPE html>
<html>
<head>
	<title>Ptoo</title>
	<%= stylesheet_link_tag	"application", :media => "all" %>
	<%= stylesheet_link_tag "http://fonts.googleapis.com/css?family=Raleway:600,300,200" %>
	<%= stylesheet_link_tag "http://fonts.googleapis.com/css?family=Crimson+Text:600,400" %>
	<%= javascript_include_tag "application" %>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<%= csrf_meta_tags %>
</head>
<body>
	<div class="container">
		<%= render "navigation" %>
		<div class="night-day pull-right">
			<div class="btn-group">
				<button class="btn set-light active"><i class="icon-custom sun"></i></button>
				<button class="btn set-dark"><i class="icon-custom moon"></i></button>
			</div>
		</div>
	</div>
	<section class="glass">
		<div class="glass-background" id="glass-background"></div>
		<div class="container">
			<header class="introduction">
				<h1 class="title">Server Sent Events</h1>
				<h2 class="author"><%= I18n.t 'common_words.by' %> Gilles De Mey</h2>
			</header>
			<div class="demo">

			</div>
		</div>
	</section>
	<div class="container content-main">
		<%= yield %>
	</div>
</body>
</html>
